* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box {
  margin: 0 auto;
  max-width: 900px;
  min-width: 250px;
}
body {
  width: 100%;
}
/* 头部 */
header {
  background-color: #FE8A00;
  width: 60%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
}
header .one {
  margin-left: 3rem;
}
header .two {
  margin-left: 22rem;
}
header .three {
  margin-left: 2rem;
}
/* 导航 */
nav {
  width: 60%;
  margin: 0 auto;
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid grey;
}
nav p {
  margin-left: 1.5rem;
  white-space: nowrap;
}
nav p > a:nth-of-type(1) {
  font-weight: 700;
}
nav a {
  color: black;
  font-size: 1.2rem;
}
.title {
  width: 60%;
  margin: 0 auto;
  display: flex;
  background: #ffffff;
  height: 5rem;
  line-height: 5rem;
}
.title li {
  font-size: 1.4rem;
  white-space: nowrap;
  flex: 1;
  padding-left: 4rem;
  border-bottom: 0.4rem solid #d1d1d1;
}
.title .active {
  border-bottom: 0.4rem solid #FE8A00;
}
/* tap切换 隐藏显示 */
.none {
  width: 60%;
  margin: 0 auto;
}
.none .int {
  line-height: 4rem;
  height: 4rem;
  border-bottom: 1px solid grey;
}
.none .int input {
  border: none;
  padding-left: 2rem;
  outline: none;
}
.none .int:nth-of-type(1) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.none .int:nth-of-type(1) button {
  white-space: nowrap;
  align-self: center;
  width: 10rem;
  height: 3rem;
  font-size: 1.6rem;
  border: 1px solid #c5b2b2;
}
.q {
  width: 100%;
}
.q .but {
  width: 50%;
  margin: 3rem 20rem;
  white-space: nowrap;
  height: 4rem;
  color: white;
  font-size: 1.4rem;
  background-color: #FE8A00;
  border: none;
  outline: none;
}
.regester {
  width: 60%;
  margin: 0 auto;
  color: black;
  font-size: 1.2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.regester > a:nth-of-type(1) {
  color: #FE8A00;
  margin-left: 2rem;
  white-space: nowrap;
  margin-right: 2rem;
}
.regester > a:nth-of-type(2) {
  white-space: nowrap;
  margin-right: 2rem;
}
